@layer components {
    .header {

        position: relative;
        
        margin-bottom: var(--sp-56);
        padding-top: var(--sp-88);
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        @media (max-width:48rem){
            padding-top: var(--sp-24);
        }

        & .mobile-menu-btn {
            display: none;
            z-index: 30;

            @media (max-width: 40rem){
                display: block;
            }
        }

        & .navbar {

            z-index: 20;
            & .nav-list {
                color: var(--clr-grayish-blue);
                display: flex;
                gap: var(--sp-40);
                transition: transform 0.3s ease-in-out;

                @media (max-width:40rem) {
                    position: fixed;
                    flex-direction: column;
                    top: 0;
                    right: 0;
                    width: 75%;
                    background-color: var(--clr-off-white);
                    height: 100vh;
                    padding: var(--sp-144) 0 0 var(--sp-24);
                    color: var(--clr-dark-blue);
                    font-size: var(--fs-18);
                    line-height: var(--lh-1-5);
                    transform: translateX(100%);
                }


                & .nav-item {

                    & .nav-link {
                        color: var(--clr-grayish-blue);
                        font-size: var(--fs-16);
                        font-weight: 500;
                        text-decoration: none;
                        padding: var(--sp-8) var(--sp-16);
                        border-radius: var(--radius-8);
                        transition: background-color 0.3s ease-in-out;

                        &:hover{
                            color: var(--clr-red);
                        }


                    }
                }

            }

            &.active {

                & .nav-list{
                    @media (max-width: 40rem) {
                        transform: translateX(0);
                        
                    }

                }

            }
        }

    }
}