@layer component{
    .header-overlay{
        display: none;
    }

    @media (max-width: 768px) {
        .navbar.active ~ .header-overlay{
            display: block;
            position: fixed;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 10;
        }
    }
}